.device-con {
  display: flex;
  flex-wrap: wrap; 
  justify-content:center; 
}

.device-con .device-card { 
  margin-right: 20px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  
}

.btn-container .btn{
  margin-left: 10px;
  flex-direction: row;
}

#dropdown-basic-button{
  background-color: #f8f9fa;
  color: #000;
  border: 2px solid #ced4da;
}